.jumbotron{
    color: white;
}

.card{
    margin-right: auto;
    margin-left: auto;
}

.card2{
    margin-top: 3%;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    width: 30% !important;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

select {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
 }