.jumbotron{
    background-color: #3498DB;
    color: white;
}

body{
    font-family: 'Segoe UI';
}

.konten{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.kembali{
    padding-top: 1%;
    padding-bottom: 1%;
}